<!--<p>experience works!</p>-->
<!--<div *ngIf="workExperiences.viewExperiences">-->
<!--  <div id="experience">-->
<!--      <div class="experience-container" id="workExperience">-->
<!--        <div>-->
<!--          <h1 class="experience-heading">Experiences</h1>-->
<!--          <div class="experience-cards-div" *ngFor="let card of workExperiences.experience">-->
<!--              <ExperienceCard-->
<!--              cardInfo={{-->
<!--              company: card.company,-->
<!--              desc: card.desc,-->
<!--              date: card.date,-->
<!--              companylogo: card.companylogo,-->
<!--              role: card.role,-->
<!--              descBullets: card.descBullets-->
<!--              }}-->
<!--            />-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--     </div>-->
<!--</div>-->

