<!--<p>projects works!</p>-->
<div class="main" id="opensource">
  <h1 class="project-title">Projects</h1>
  <div class="repo-cards-div-main" >
    <app-github-repo-card></app-github-repo-card>
    <app-github-repo-card></app-github-repo-card>
    <app-github-repo-card></app-github-repo-card>
    <app-github-repo-card></app-github-repo-card>
    <app-github-repo-card></app-github-repo-card>
  </div>
<!--  <button class="project-button" >MoreProject</button>-->
  <div class="project-button"><a class="main-button" href="https://github.com/sarthakgoenka" target="_blank">More Projects</a></div>
</div>
