.main {
    width: 90%;
    padding: 20px 10px;
    margin: 0px auto;
    margin-top: 4rem;
}

.github__chart{
  margin: 3rem auto;
  width: 80vw;

}
.project-title {
  font-size: 52px;
  font-weight: 400;
  line-height: normal;
}

.startup-project-text img{
  max-width: 100%;
  height: auto;
}

.repo-cards-div-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem 1rem;
}
.main-button {
  background-color: #55198b;
  border: 1px solid #55198b;
  color: #fff;
  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 13px 22px;
  //margin-right: 50px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}
.project-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
/* Media Query */
@media (max-width: 1380px) {
  .project-title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .project-title {
    font-size: 30px;
    text-align: center;
  }
  .repo-cards-div-main{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
